@use "../../../../../scss/mixins.scss";

.container {
  position: relative;
  overflow: hidden;
  &:has(.active) {
    overflow: unset;
  }
  @media not all and (hover: none) {
    &:hover {
      overflow: unset;
    }
  }
}

.picker {
  position: absolute;
  z-index: 2;
  top: calc(50%);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  @media (min-width: 768px) {
    cursor: pointer;
  }
}

.value {
  padding: 2px;
}
