@use "../../../../scss/mixins.scss";

.container {
  position: relative;
  font-size: 36px;
}

.background {
  color: #2e2622;
  font-size: 80px;
  @include mixins.textStroke(white, 2);
}

.picker {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  @media (min-width: 768px) {
    cursor: pointer;
  }
}

.value {
  color: white;
  &_selected {
    @include mixins.textStroke(#2e2622, 2);
  }
  &_inactive {
    @include mixins.textStroke(#2e2622, 1);
    opacity: 0.5;
    &:hover {
      opacity: 0.8;
    }
  }
}
