@use "../../../../scss/mixins.scss";

.container {
  position: relative;
  font-size: 36px;
  padding-top: 5px;
  box-sizing: border-box;
} 


.picker {
  margin-top: -5px;
}

.value {
  &_selected {
    @include mixins.textStroke(#1c3e6a, 2);
  }
  &_inactive {
    @include mixins.textStroke(#1c3e6a, 1);
    opacity: 0.5;
    &:hover {
      opacity: 0.8;
    }
  }
}
