.container {
  position: relative;
}

@media (min-width: 596px) {
  .container {
    display: flex;
  }
  .stats {
    margin-left: -30px;
    position: relative;
    z-index: 2;
  }
}


.background {
  max-width: 100%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}