.picker {
  & > div > div {
    background-color: transparent !important;
  }
  &:hover, &.active {
    .value {
      &_inactive {
        display: block;
      }
    }
  }
}

.valueContainer {
  position: relative;
}

.valueStroke {
  transform: scale(1.15);
}

.value {
  --color: currentColor;
  &_selected {
    
  }
  &_inactive {
    text-shadow: none;
    color: #2e2622;
    // @include textStroke(#2e2622, 1);
    // opacity: 0.5;
    display: none;
  }
}