[package]
name = "chaos_odds"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[lib]
crate-type = [
    "staticlib", # for iOS
    "cdylib"    # for Android
]