@use "../../../../scss/mixins.scss";

.container {
  position: relative;
  font-size: 36px;
  height: 79px;
} 


.picker {
  // margin-top: -5px;
}

.value {
  padding: 2px;
  &_selected {
    @include mixins.textStroke(#c8141c, 2);
  }
  &_inactive {
    @include mixins.textStroke(#2e2622, 1);
    opacity: 0.5;
    &:hover {
      opacity: 0.8;
    }
  }
}
